.idea/
obj/
src/eshop-microservices/eshop-microservices.http
src/eshop-microservices/appsettings.Development.json
src/eshop-microservices/appsettings.json
src/Services/Catalog/Catalog.API/bin/
src/BuildingBlocks/BuildingBlocks/bin/
